doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{pageTitle} | #{siteName}
    body
        header
            h1=pageTitle
            nav 
                ul 
                    li
                        a(href="/") Home
                    li
                        a(href="/videos/upload") Upload video
                    li
                        a(href="/search") Search video
                    if !loggedIn
                        li
                            a(href="/join") Join
                        li
                            a(href="/login") Login
                    else 
                        li
                            a(href="/users/logout") Logout
                        li
                            a(href="/edit-profile") #{loggedInUser.name} s' Profile
                    li 
                    li
                    li
                    li
                    
                    li
                        a(href="/users/deleteAll") Delete All Users
                        
                    li
                        a(href="/videos/deleteAll") Delete All video
        main
            block content 

    include partials/footer