doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{pageTitle} 
    body
        main
            block content 

    include partials/footer